<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Actividad</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/actividad.css') }}">
    </head>
    <body>
        {% include 'html/navbar.html' %}

        <h1>Actividad:</h1>
        Inicio: {{ actividad.dia_hora_inicio }}<br>
        Termino: {{ actividad.dia_hora_termino }}<br>
        Comuna: {{ comuna }}<br>
        Sector: {{ actividad.sector }}<br>
        Tema: {{ tema }}<br>
        Nombre Organizador: {{ actividad.nombre }}<br>
        Fotos:
        <div class="fotos">
            {% for foto in fotos[1] %}
                <img src="/{{ foto.ruta_archivo }}" width="200px" height="160px">
                
            {% endfor %}
            
        </div>
        
        <script src="/js/actividad.js" async defer></script>
    </body>
</html>