<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Estadisticas</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        
        {% include 'html/navbar.html' %}

        <div class="graphs">
            <h1>Graficos:</h1>: <br>
            <img src="/images/graph1.png" alt="Graph1">
            <img src="/images/graph2.png" alt="Graph2">
            <img src="/images/graph3.png" alt="Graph3">
        </div>
        <a href="index.html">Volver a la portada</a>
    </body>
</html>