<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Homepage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        {% include 'html/navbar.html' %}

        <h1>Bienvenido</h1>
        <table>
            <tr>
                <th>Inicio</th>
                <th>Termino</th>
                <th>Comuna</th>
                <th>Sector</th>
                <th>Tema</th>
                <th>Foto</th>
            </tr>
            {% if data %}
            {% for act in data%}
            <tr onclick="window.location.href='{{ url_for('ver_actividad', id=act.id) }}'" style="cursor: pointer;">
                <th>{{ act.dia_hora_inicio }}</th>
                <th>{{ act.dia_hora_termino }}</th>
                <th>{{ get_comuna(act.id).nombre }}</th>
                <th>{{ act.sector }}</th>
                <th>
                    {% if get_tema(act.id).tema == "otro" %}
                    {{ get_tema(act.id).glosa_otro }}
                    {% else %}
                    {{ get_tema(act.id).tema }}
                    {% endif %}

                </th>
                <th><img src="{{ get_photos(act.id)[0].ruta_archivo }}" width="200px" height="160px"></th>
            </tr>
            {% endfor%}
            {% endif %}
            
        </table>
        
        
    </body>
</html>