<ul class="navbar">
            <li><a href="index">Inicio</a></li>
            <li><a href="nueva-actividad">Agregar Actividad</a></li>
            <li><a href="lista">Lista de Actividades</a></li>
            <li><a href="estadisticas">Estadisticas</a></li>
        </ul>

<style> .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    border: 1px solid black;
    overflow: hidden;
  }

.navbar li {
    float: left;
    border: 1px solid #0020bf;
}

.navbar li a {
    display: block;
    color: black;
    padding: 8px;
    background-color: #dddddd;
}
.navbar li a:hover {
    background-color: #555;
    color:white
}</style>