<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Crear Actividad</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nueva.css') }}">
    </head>
    <body>
        {% include 'html/navbar.html' %}

        <h1>Agrega una actividad</h1>

        <form method="POST" enctype="multipart/form-data">
            <h2>Donde</h2>
            Region:
            <select name="Regiones" id="regiones" onchange="regionChange()" required>
                <option value="">Seleccione</option>
            </select>
            <div></div>
            Comuna:
            <select name="Comunas" id="comunas" required>
                <option value="">Seleecione</option>
            </select>
            <div></div>
            Sector:
            <input type="text" id="sector" maxlength="100" name="sector-id">
            <h2>Quien organiza:</h2>
            Nombre:
            <input type="text" maxlength="200" id="name" required name="name-id">
            <div></div>
            Correo Electronico:
            <input type="email" maxlength="100" required id="email" name="email-id">
            <div></div>
            Numero de Celular:
            +<input type="tel" size="3" id="codigo" name="codigo-id">.<input type="tel" size="15" id="nro" name="nro-id">
            <div></div>
            <input type="checkbox" name="whatsapp" onclick="check(this)" class="contact"> Whatsapp
            <input type="text" id="whatsapp" name="whatsapp-id" style="display: none;"><br>

            <input type="checkbox" name="telegram" onclick="check(this)" class="contact"> Telegram
            <input type="text" id="telegram" name="telegram-id" style="display: none;"><br>

            <input type="checkbox" name="x" onclick="check(this)" class="contact"> X
            <input type="text" id="x" name="x-id" style="display: none;"><br>

            <input type="checkbox" name="instagram" onclick="check(this)" class="contact"> Instagram
            <input type="text" id="instagram" name="instagram-id" style="display: none;"><br>

            <input type="checkbox" name="tiktok" onclick="check(this)" class="contact"> Tiktok
            <input type="text" id="tiktok" name="tiktok-id" style="display: none;"><br>

            <input type="checkbox" name="otra" onclick="check(this)" class="contact"> Otra
            <input type="text" id="otra" name="otra-id" style="display: none;"><br>

            <h2>Cuando y de que trata:</h2>
            Dia y hora de inicio: <input type="datetime-local" id="hora-actual" name="hora-actual-id">
            <div></div>
            Dia y hora de termino: <input type="datetime-local" id="hora-sgte" name="hora-sgte-id">
            <div></div>
            Descripcion: <textarea name="description" id="description-id" rows="10" cols="50"></textarea>
            <div></div>
            Tema: 
            <select name="temas" id="temas-id" onchange="themeChange(this)">
                <option value="opciones" selected>Opciones</option>
                <option value="música">música</option>
                <option value="deporte">deporte</option>
                <option value="ciencias">ciencias</option>
                <option value="religión">religión</option>
                <option value="política">política</option>
                <option value="tecnología">tecnología</option>
                <option value="juegos">juegos</option>
                <option value="baile">baile</option>
                <option value="comida">comida</option>
                <option value="otro">otro</option>
            </select>
            <input type="text" id="otro" name="otro-id" style="display: none;" minlength="3" maxlength="15">
            <div id="files">
                Foto:<input type="file" id="file-id" name="file" accept="image/png, image/jpg, image/gif, image/jpeg">
                <button onclick="newFile()" type="button">Agregar foto</button>
            </div>
            <button onclick="endForm()" type="button">Agregar esta Actividad</button>
            <div id="confirmation" style="display: none;">
                ¿Esta seguro que desea agregar esta actividad? <br>
                <button onclick="yep()" type="button">Si, estoy seguro</button>
                <button onclick="nope()" type="button">No, no estoy seguro</button>
            </div>
            <div id="next" style="display: none;">
                Hemos recibido su información, muchas gracias y suerte en su actividad
                <button type="submit">Volver</button>
            </div>
            
        </form>
        
        
        
        
        <script src="{{ url_for('static', filename='js/nueva.js') }}"></script>
    </body>
</html>